In [102]:
with open("census_cost.txt","rt") as f:
    line_list=f.readlines()
print(line_list)

['Source: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11']

In [103]:
with open("outfile.txt", "w") as outfile:
    outfile.write("\n".join(new_list))

In [104]:
import pandas as pd
df = pd.read_csv('outfile.txt',delimiter="\t")

In [105]:
top2_list=line_list[:2]
print(top2_list)

['Source: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n']

In [106]:
data_list=line_list[2:]
print(data_list)

['1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11']

In [107]:
import pandas as pd
df = pd.read_csv('outfile.txt',delimiter="\t",)

In [108]:
year_list=df['Census Year'].str.replace("*"," ").astype(int)
print(year_list)

0     1790
1     1800
2     1810
3     1820
4     1830
5     1840
6     1850
7     1860
8     1870
9     1880
10    1890
11    1900
12    1910
13    1920
14    1930
15    1940
16    1950
17    1960
18    1970
19    1980
20    1990
21    2000
22    2010
Name: Census Year, dtype: int32

In [109]:
 df["Total Population"] = df["Total Population"].str.replace(",","").astype(int)
pop_list=df["Total Population"]
print(pop_list)

0       3929214
1       5308483
2       7239881
3       9633822
4      12866020
5      17069458
6      23191876
7      31443321
8      38558371
9      50155783
10     62979766
11     76303387
12     91972266
13    105710620
14    122775046
15    131669275
16    151325798
17    179323175
18    203302031
19    226542199
20    248718301
21    281421906
22    308745538
Name: Total Population, dtype: int32

In [110]:
 df["Census Year"] = df["Census Year"].str.replace("*","")

In [111]:
df['Census Cost']

0            $44,377
1            $66,109
2           $178,445
3           $208,526
4           $378,545
5           $833,371
6         $1,423,351
7         $1,969,377
8         $3,421,198
9         $5,790,678
10       $11,547,127
11       $11,854,000
12       $15,968,000
13       $25,117,000
14       $40,156,000
15       $67,527,000
16       $91,462,000
17      $127,934,000
18      $247,653,000
19    $1,078,488,000
20    $2,492,830,000
21      $4.5 Billion
22       $13 Billion
Name: Census Cost, dtype: object

In [112]:
df['Census Cost'] = df['Census Cost'].str.replace(',', '')
df['Census Cost'] = df['Census Cost'].str.replace('$', '')

In [113]:
df['Census Cost']=df['Census Cost'].replace({'Billion': '*10**9'},regex=True).map(pd.eval).astype(int)
cost_list=df['Census Cost']
print(cost_list)

0          44377
1          66109
2         178445
3         208526
4         378545
5         833371
6        1423351
7        1969377
8        3421198
9        5790678
10      11547127
11      11854000
12      15968000
13      25117000
14      40156000
15      67527000
16      91462000
17     127934000
18     247653000
19    1078488000
20   -1802137296
21   -2147483648
22     115098112
Name: Census Cost, dtype: int32

In [114]:
df['Average Cost Per Person'] = df['Average Cost Per Person'].str.replace('$', '')

In [115]:
df['Average Cost Per Person']=df['Average Cost Per Person'].replace({'cents': '*10**-2'},regex=True).map(pd.eval).astype(float)
avg_list=df['Average Cost Per Person']
print(avg_list)

0      0.0113
1      0.0124
2      0.0246
3      0.0216
4      0.0294
5      0.0488
6      0.0614
7      0.0626
8      0.0887
9      0.1154
10     0.1833
11     0.1554
12     0.1707
13     0.2376
14     0.3271
15     0.5129
16     0.6044
17     0.7134
18     1.2200
19     4.7600
20    10.0200
21    15.9900
22    42.1100
Name: Average Cost Per Person, dtype: float64

In [116]:
with open("census_cost.csv", "w") as outfile:
    outfile.write(''.join(top2_list))

In [117]:
df.to_csv('census_cost.csv',mode='a',header=None)

In [122]:
with open("census_cost.csv","rt") as k:
    print(k.readlines())

['Source: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '0,1790,3929214,44377,0.0113\n', '1,1800,5308483,66109,0.0124\n', '2,1810,7239881,178445,0.0246\n', '3,1820,9633822,208526,0.0216\n', '4,1830,12866020,378545,0.0294\n', '5,1840,17069458,833371,0.0488\n', '6,1850,23191876,1423351,0.061399999999999996\n', '7,1860,31443321,1969377,0.0626\n', '8,1870,38558371,3421198,0.08869999999999999\n', '9,1880,50155783,5790678,0.11539999999999999\n', '10,1890,62979766,11547127,0.1833\n', '11,1900,76303387,11854000,0.15539999999999998\n', '12,1910,91972266,15968000,0.17070000000000002\n', '13,1920,105710620,25117000,0.23760000000000003\n', '14,1930,122775046,40156000,0.3271\n', '15,1940,131669275,67527000,0.5129\n', '16,1950,151325798,91462000,0.6043999999999999\n', '17,1960,179323175,127934000,0.7134\n', '18,1970,203302031,247653000,1.22\n', '19,1980,226542199,1078488000,4.76\n', '20,1990,248718301,-1802137296,10.02\n', '21,2000,281421906,-2147483648,15.99\n', '22,2010,308745538,115098112,42.11\n']